@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
    html {
        @apply text-surface;
        @apply bg-white;
    }
    html.dark {
        @apply text-neutral-50;
        @apply bg-body-dark;
    }
}

@tailwind components;
@tailwind utilities;

p {
    @apply leading-[1.6];
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

th {
    @apply p-2;
}

td{
    @apply p-2;
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.button-hover{
    @apply hover:bg-main-color hover:text-white transition-all py-1 px-2 bg-slate-200 rounded-md;
}


